publish {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-container {
    width: 100%;
  }
  
  .slide-item {
    width: 100%;
    max-height: 53vh;
    object-fit: cover;
  }
  
  /* Media Queries para Design Responsivo */
  
  /* Tablets */
  @media (max-width: 768px) {
    .publish {
      width: 100%;
      padding: 0 10px;
    }
  
    .slide-item {
      max-height: 50vh;
    }
  }
  
  /* Celulares */
  @media (max-width: 480px) {
    .publish {
      width: 100%;
      padding: 0 5px;
    }
  
    .slide-item {
      max-height: 45vh;
    }
  }