.Pcontainer {
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #f3f1f1;
  }
  
  .swiper-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .swiper-button-prev, .swiper-button-next {
    color: rgb(182, 185, 187);
    font-weight: 900;
    background: none;
    border: none;
    z-index: 1000;
    cursor: pointer;
  }
  
  .product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 10px;
    height: auto;
    border: 2px solid rgb(204, 202, 202);
    border-radius: 5px;
  }
  
  .product-card img {
    width: 100%;
    height: 15vh;
    background-color: rgb(156, 156, 156);
    border-radius: 5px;
    object-fit: cover;
  }
  
  /* Media Queries para Design Responsivo */
  
  /* Tablets */
  @media (max-width: 768px) {
    .Pcontainer {
      width: 90%;
    }
  
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  
    .swiper-container {
      width: 100%;
    }
  
    .product-card {
      width: 180px;
      height: 280px;
      margin: 10px 0;
    }
  
    .product-card img {
      height: 180px;
    }
  }
  
  /* Celulares */
  @media (max-width: 480px) {
    .Pcontainer {
      width: 95%;
    }
  
    .swiper-container {
      width: 100%;
    }
  
    .product-card {
      width: 160px;
      height: 250px;
      margin: 10px 0;
    }
  
    .product-card img {
      height: 150px;
    }
  }
  