@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.header-container {
    width: 100%;
    border-bottom: 3px solid rgb(8, 95, 226);
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #080808;
    position: relative;
}

.header-main {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    left: 25px;
    cursor: pointer;
}

.logo {
    display: flex;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2px;
}

.small {
    color: rgb(170, 0, 0);
    margin: 10px 0;
}

.market {
    color: rgb(0, 0, 0);
}

.two {
    color: rgb(8, 95, 226);
    margin: 10px 0;
}

.me {
    color: black;
}

h1 {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.separadores {
    width: 100%;
    align-items: center;
    justify-content: end;
    display: flex;
}

/* Media Queries for Responsive Design */

/* Tablets */
@media (max-width: 768px) {
    .header-container {
        height: auto;
    }

    .header-main {
        width: 30%;
        height: 8vh;
        position: static;
        justify-content: center;
        margin-bottom: 10px;
    }

    .logo {
        font-size: 16px;
    }

    .small, .two {
        margin: 5px 0;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .header-container {
        height: auto;
    }

    .header-main {
        width: 50%;
        height: 6vh;
        position: static;
        justify-content: center;
        margin-bottom: 10px;
    }

    .logo {
        font-size: 14px;
    }

    .small, .two {
        margin: 5px 0;
    }
}
