.nave-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .menu-toggle {
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-aberto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid  rgb(170, 0, 0);
  }
  
  .menu-fechado {
    display: none;
  }
  
  .menu-aberto li {
    margin: 5px;
    padding: 5px;
    list-style: none;
  }
  
  .menu-aberto  li a {
    color: #000;
    text-decoration: none;
    margin: 10px;
  }
 .menu-aberto li a:hover{
   color: rgb(161, 194, 199);
 }
 .menu-icons{
  width: 20px;
  font-size: 20px;
 }
