
 .cfg-icon:hover{
  color: red;
 }
 .cfg-icon{
  font-size: 20px;
 }
  
  .menu-toggle {
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-aberto {
    width: max-content;
    height: max-content;
    display: flex;
    position: absolute;
    flex-flow: column wrap;
    top: 40px;
    right: 0;
    border-radius: 4px;
    z-index: 10;
  }
  
  .menu-fechado {
    display: none;
  }

  .menu-aberto  li{
    background-color: #282c34;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
  }
  .menu-aberto  li:hover{
    background-color:  rgb(33, 33, 155);
  }


  .menu-aberto  li a {
   text-decoration: none;
   color: white;
   font-weight: bold;
   margin-right: 40px;
  }
  .menu-icons{
    position: absolute;
    right: 294px;
    margin-right: 10px;
    color: white;
    font-size: 18px;
  }