.Appcontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
   background-color: #070707;
  position: relative;
  color: white;
}
.products-section{
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.products-section h1{
   margin-left: 100px;
}